{
        "search-queries": ["RT to win", "Retweet and win"],
        "follow-keywords": [" follow ", " follower "],
        "fav-keywords": [" fav ", " favorite "],
        "scan-update-time": 1800,
        "retweet-update-time": 20,
        "rate-limit-update-time": 10,
        "min-ratelimit":10,
        "min-ratelimit-retweet":20,
        "min-ratelimit-search":40,
	"consumer-key": "TA3sM6sFIjsLp79YZBGpKuAOU",
	"consumer-secret": "OOrAhEaqJgnRTZrioTktbZbjT4VzzUE9cyXafVCtQkeyboAQn9",
	"access-token-key": "3114089220-jKeKSefQFhytDBq0xIktAnHk3sWCxBkqFqjhQTn",
	"access-token-secret": "1LVqXvrvmyrK7sT0vrNtCuuwGEMr6ePOm6ic6k32nIW1T"
}
